<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../template/header', { title: 'JAB餐廳 - 會員資料' }) %>
  </head>

  <body>
    <%- include('../../template/navbar') %>

    <div class="wrapper admin__wrapper">
      <div class="title faq">
        <span class="title__mark admin"></span
        ><span class="title__text admin">會員資料</span>
      </div>

      <div class="member-detail-wrapper">
        <div class="btn__area">
          <!-- TODO: -->
          <input
            class="redirect-btn"
            type="button"
            value="回會員列表"
            onclick="location.href='/admin'"
          />
        </div>

        <div class="member-data-container"></div>

        <div class="order-data-container">
          <table>
            <thead>
              <tr>
                <th>訂單編號</th>
                <th>訂單日期</th>
                <th>金額</th>
                <th>狀態</th>
                <th>管理</th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>
    </div>

    <%- include('../../template/footer') %>
    <script src="/js/users/memberDetail.js" type="module"></script>
  </body>
</html>
