<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../../template/header', { title: 'JAB餐廳 - 使用者頁面' }) %>
  </head>

  <body>
    <%- include('../../template/navbar') %>

    <div class="wrapper admin__wrapper">
      <div class="title faq">
        <span class="title__mark admin"></span
        ><span class="title__text admin">會員專區</span>
      </div>

      <div class="tab__area">
        <ul class="tab__list">
          <li class="tab-title" id="data">會員資料</li>
          <li class="tab-title" id="order">訂單記錄</li>
        </ul>

        <div class="content__area"></div>
      </div>
    </div>

    <%- include('../../template/footer') %>
    <script src="/js/users/user.js"></script>
  </body>
</html>
