<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../template/header', { title: 'JAB餐廳 - 購物清單' }) %>
  </head>

  <body>
    <%- include('../template/navbar') %>

    <div class="wrapper admin__wrapper">
      <div class="cart-list data-container">
        <div class="title">購物清單</div>
        <div class="content">
          <table>
            <thead>
              <tr>
                <th>商品照片</th>
                <th>商品名稱</th>
                <th>價格</th>
                <th>數量</th>
                <th>小計</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>

      <div class="cart-list bill-container">
        <div class="title">帳單資訊</div>
        <div class="content">
          <div class="user-data name">
            姓名<span>*</span><input type="text"></input>
          </div>
          <div class="user-data phone">
            電話<span>*</span><input type="text"></input>
          </div>
          <div class="user-data address">
            地址<span>*</span><input type="text"></input>
          </div>
          <div class="user-data email">
            信箱<span>*</span><input type="text"></input>
          </div>
        </div>
        <div class="btn__area">
          <!-- TODO: -->
          <input
            class="redirect-btn"
            type="button"
            value="繼續購物"
            onclick="location.href='###'"
          />

          <!-- TODO: -->
          <input
            class="confirm-btn"
            type="button"
            value="確認送出"
            onclick="location.href='###'"
          />
        </div>
      </div>
    </div>

    <%- include('../template/footer') %>
    <script src="/js/cartList.js"></script>
  </body>
</html>
