<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../template/header', { title: 'JAB餐廳 - 購物清單' }) %>
  </head>

  <body>
    <%- include('../template/navbar') %>

    <div class="wrapper admin__wrapper">
      <div class="cart-list data-container">
        <div class="title">購物清單</div>
        <div class="content">
          <table>
            <thead>
              <tr>
                <th>商品照片</th>
                <th>商品名稱</th>
                <th>價格</th>
                <th>數量</th>
                <th>小計</th>
                <th></th>
              </tr>
            </thead>
            <tbody></tbody>
          </table>
        </div>
      </div>

      <div class="cart-list bill-container">
        <div class="title">帳單資訊</div>
        <form>
          <div class="content">
            <div class="user-data">
              姓名<span>*</span><input class="name" type="text"></input>
            </div>
            <div class="user-data">
              電話<span>*</span><input class="phone" type="tel"></input>
            </div>
            <div class="user-data">
              地址<span>*</span><input class="address" type="text"></input>
            </div>
            <div class="user-data">
              信箱<span>*</span><input class="email" type="email"></input>
            </div>
          </div>
          <div class="btn__area">
            <!-- TODO: -->
            <input
              class="redirect-btn"
              type="button"
              value="繼續購物"
              onclick="history.back()"
            />
  
            <!-- TODO: -->
            <input
              class="confirm-btn"
              type="submit"
              value="送出訂單"
            />
          </div>
        </form>
      </div>
    </div>

    <%- include('../template/footer') %>
    <script src="/js/cartList.js" type="module"></script>
  </body>
</html>
